In [12]:
for j in range (1,6):
    for i in range (1,6):print(j),
    print

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [18]:
for a in range(1,6):
    for b in range(1,6):print("*"),
    print

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [1]:
"""1 2 3 4 5
   1 2 3 4
   1 2 3
   1 2 
   1"""
for i in range (5,0,-1):#if the base is upar then descending if niche then ascending
    for j in range(1,i+1):print(j),#if we wnat to print ascending then then start= 1 or 0 if descending then start will be the first variable
    print

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [20]:
"""5 4 3 2 1
   5 4 3 2
   5 4 3
   5 4 
   5"""
for a in range(5,0,-1):
    for b in range (a,0,-1):print(b),
    print

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [21]:
"""*
   * *
   * * *
   * * * *
   * * * * *"""
for q in range(1,6):
    for w in range(1,q+1):print("*"),
    print

*
* *
* * *
* * * *
* * * * *

In [29]:
""" 1 *
    2 * *
    3 * * *
    4 * * * *
    5 * * * * *"""
for e in range(1,6):
    print(e),
    for r in range(1,e+1):print("*"),
    print

1 *
2 * *
3 * * *
4 * * * *
5 * * * * *

In [30]:
""" 1
    2 1 
    3 2 1
    4 3 2 1
    5 4 3 2 1"""
for i in range(1,6):
    for j  in range(i,0,-1):print(j),#when the diagonal is same use 1st var as start with step when base is down
    print

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [31]:
""" 1
    2 2
    3 3 3
    4 4 4 4
    5 5 5 5 5"""
#when ever there is an repeat int (in sameline)print st var
for x in range(1,6):
    for y in range(1,x+1):print(x),
    print

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [32]:
"""1 2 3 4 5
2 3 4 5
3 4 5 
4 5
5"""
for v in range(1,6):
    for k in range(v,6):print(k),
    print

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [33]:

""" 5
    5 4 
    5 4 3
    5 4 3 2
    5 4 3 2 1"""
for a  in range(5,0,-1):
    for b in range(5,a-1,-1):print(b),#when the 1st column is same use 1st var as stop 
    print

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1